.container {
	margin: 3em auto;
	width: 600px;
}

.search {
	position: relative;
	width: 400px;
	height: 50px;
	top: 100px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
}

.get-projects {
	border: 1px solid black;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.templates {
	display: none;
}